  <html>
  <img src="/static/c_stepmom_stairs.jpeg" width="350" height="250">
  <body>
  <p> You then hear that the Prince is looking for you everywhere. 'He has been going to everyone's house to find the girl,' you hear Anastasia say.</p>
  <p> You hear the doorbell ring. Soon you hear your step-mom coming into your room. 'Don't you dare come downstairs. He is not here for you so stay inside or else you'll get punished,' she hisses.</p>
  <br>
  <a href="http://127.0.0.1:5000/scene9_a">A.  Decide to do as your step-mom says.</a>
  <br>
  <a href="http://127.0.0.1:5000/scene9_b">B. Disobey her and go downstairs.</a>

</body>
</html>
