<html>
	<body>
		<img src="/static/c_with_stepsisters.jpg" width="250" height="250">
	<p> After the cleaning incident, your stepsisters tell you to iron their clothes. What is your response?</p>
	<br>
	<a href="http://127.0.0.1:5000/scene2_a">A. Okay my dear sisters!</a>
  <br>
	<a href="http://127.0.0.1:5000/scene2_b">B. I will do it later.</a>
	<br>
	<a href="http://127.0.0.1:5000/scene2_c">C. I don't wanna do it!</a>
	<br>
	<a href="http://127.0.0.1:5000/scene2_d">D. Why don't you do it?!</a>

</body>
</html>
