<!DOCTYPE html>
<html>
<body>
    <p>Later that night, you walk by your sisters' room and see them trying on gorgeous dresses. You ask them what it's for, but they just laugh smugly. 'What if a maid like you doesn't need to know?'</p>
    <p> Do you give an angry response or a compliant response? What do you say? </p>
    <br>
    <form method = "post" action = "http://127.0.0.1:5000/scene3a">
        <input name = "response" placeholder = "You:">
        <input type = "submit">
    <form>
    
</body>
</html>     