<html>
<img src="attic.jpg" width="250" height="250">
	<body>
	<p> However, your stepmom finds out that you went to the ball and is trying to lock you in the attic. You... </p>
	<br>
	<a href="http://127.0.0.1:5000/scene8_ab0">A. don’t fight back and let her lock you in the attic, as you don't want her to retaliate in a worse way.</a>
  <br>
	<a href="http://127.0.0.1:5000/scene8_ab1">B. angrily ask her why she’s doing this and you get locked in the attic, but not without a struggle.</a>
	<br>
	<a href="http://127.0.0.1:5000/scene8_cd0">C. physically fight your stepmom alone and escape.</a>
	<br>
	<a href="http://127.0.0.1:5000/scene8_cd1">D. physically fight your stepmom and stepsisters with the help of of the mice and you escape. </a>

</body>
</html>
