<!DOCTYPE html>
<html>
<body>
    <p> After hearing about the ball from your sisters, you decide to ask your stepmother to attend as well. When you ask her, she laughs, 'Cinderella, you have the house to clean, a filthy girl in rags doesn't belong at the Prince's ball.' Do you... </p>
    <br>
    <a href = "http://127.0.0.1:5000/scene4a">A. Decide against going, as your stepmother wishes.</a>
    <br>
    <a href = "http://127.0.0.1:5000/scene4b">B. Decide to go secretly anyways.</a>
    <br>
    <a href = "http://127.0.0.1:5000/scene4c">C. Confront your mother and tell her that you're going regardless of her opinion.</a>
</body>
</html>     