<html>
  <body>
    <img src="/static/stepmother.jpg" width="250" height="250">
  <p> Once upon a time, there was a girl named Cinderella. She lived with her step-mother, Lady Tremaine, and two step-sisters, Anastasia and Drizella. They would make Cinderella work all day and give her little to no food.</p>
  <p> It was a bright Monday morning. Cinderella's step mom came into her room and ordered her to clean the house. 'I want the house clean by 12!', Lady Tremaine yelled.</p>
  <br>
  <a href="http://127.0.0.1:5000/scene1_a">A. Okay, I will do it mom.</a>
  <br>
  <a href="http://127.0.0.1:5000/scene1_b">B. I will do it later.</a>
  <br>
  <a href="http://127.0.0.1:5000/scene1_c">C. I don't want to do it!</a>
  <br>
  <a href="http://127.0.0.1:5000/scene1_d">D. Why don't you do it?!.</a>

</body>
</html>
